@font-face {
  font-display: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fa9e9bafe64666f4595051a0e895b47a5fa39e67e?generation=1760099844662545&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fac6d71b4d5fdd2b3dabc9a06ff6c001e4251da0b?generation=1760101315252372&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F0da2d17e738f46d2a09e6fb7969da451719a9820?generation=1760101315304776&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F179f97ec0275f09603a8db94d4380eb584d81cd5?generation=1760101315268090&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fcb726212d5d525021752a1d8470a0fb593e0c49e?generation=1760101315249476&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'new-order';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fcd7f8e1265cc6c09dc40df52040f82bdbe4076c9?generation=1776504522093226&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'new-order';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F8b3aa072a29eade2088efdc0451218fabfb69cac?generation=1776504521864665&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'new-order';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F2cee8807b65d19fe549e017755d44cfadfb3b5da?generation=1776504521847558&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'new-order';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Ffe07105ba41faf95b06cc77d3c9f4a6b21302e8d?generation=1776504521855526&alt=media') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'new-order';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F21b7d63b31f5a48b876f057480b9efe6b807237c?generation=1776504522095932&alt=media') format('woff2');
}
